# Dependencies
node_modules/
.pnpm-store/

# Nuxt / Nitro builds and cache
.output
.data
.nuxt
.nitro
.cache
dist
.vite/

# Logs
logs
*.log
markdown-lint-log.txt

# Environment files
.env
.env.*
!.env.example

# Private files
private/
private-**
private.*

# Temp files
temp
temp.*
temp-*
.temp
*.temp
**/temp.md

# OS files
.DS_Store
Thumbs.db

# Editor directories
.idea/
*.suo
*.sln
*.sw?
